@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

   <div class = "content"><!--body content holder-->
            <div class = "container">
                <div class = "col-md-12"><!--body content title holder with 12 grid columns-->
                   
                </div>
            </div>
			
            <div class="container">
            <div class="col-md-12">
            <hr>
            </div>
            </div>
            
            <div class="container">
                <div class="col-md-6 contacts">
                    <h1><span class="glyphicon glyphicon-user"></span> Erick Omundi</h1>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span> Email: protech@yahoo.ie<br>
                        <span class="glyphicon glyphicon-link"></span> Facebook: www.facebook.com/protech<br>
                        <span class="glyphicon glyphicon-phone"></span> Mobile: 0123456789
                    </p>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="Title">Title:</label>
                            <input type="text" name="title" id="Title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Comment">Message:</label>
                            <textarea id="Comment" rows="10" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default pull-right">Send <span class="glyphicon glyphicon-send"></span></button>
                    </form>
                </div>
            </div>
			
            
        </div><!--body content div-->
