
@{
    Layout = "_Layouts";
}

<center>
    <table class="content-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Student ID</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Sameer Khanal</td>
      <td>12001043</td>
     
    </tr>
    <tr class="active-row">
      <td>2</td>
      <td>James Pariyar</td>
      <td>12001256</td>
      
    </tr>
  
  </tbody>
</table>
To Access various Seminers & Events  portal <br />
    <a  asp-area="" asp-controller="Home" asp-action="Default" >Click Here</a> 
</center><

